@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-light text-secondary;
    }

    html {
        scroll-behavior: smooth;
    }
}

@keyframes gradient-flow {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}